/* 
--accent-color: #757575;
--title-color:#212121;
--contacts-footer-color: rgb(255, 255, 255, 0.6);
--footer-bgc-color: #2f303a;
--white-text-color: #ffffff;
--logo-primary-color: #000000;
--active-color:#2196f3;
--card-border-color:#EEEEEE;

font-family: 'Raleway',   sans-serif;
font-family: 'Roboto', sans-serif;

*/
:root {
  --accent-color: #757575;
  --title-color: #212121;
  --contacts-footer-color: rgb(255, 255, 255, 0.6);
  --footer-bgc-color: #2f303a;
  --white-text-color: #ffffff;
  --logo-primary-color: #000000;
  --active-color: #2196f3;
  --header-border-color: #ececec;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-border-radius: 0px 0px 4px 4px;
  --card-border-color: #eeeeee;
  --hero--bgc-color: #c4c4c4;
}
/* tag configuration */
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header section */
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
/* logo section */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-color);
}

.logo-name {
  color: var(--logo-primary-color);
}
.logo:hover,
.logo:focus {
  color: var(--active-color);
}

/* nav menu section */
.pagination {
  display: flex;
  margin-left: 93px;
}

.pagination .item + .item {
  margin-left: 50px;
}
.pagination .link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.pagination .link:hover,
.pagination .link:focus {
  color: var(--active-color);
}
.pagination .link.current {
  color: var(--active-color);
}

/* contacts section */
.contacts {
  display: flex;
  align-items: center;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--active-color);
}
/* main section */

/* hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero--bgc-color);
}
.hero .title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: var(--white-text-color);
}

/* button section */
.btn {
  cursor: pointer;
}
.hero .btn {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--active-color);
}
/* main text */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.nottop {
  padding-top: 0;
}
.section .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
.section .subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  color: var(--title-color);
}
.section .subtitle.teams {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section .text {
  font-size: 16px;
  line-height: 1.19;
}
.hero .title,
.featurse .subtitle {
  text-transform: uppercase;
}

/* soft skills */

.featurse .subtitle {
  margin-bottom: 10px;
}

.container .featurse {
  display: flex;
  margin-left: -30px;
}

.featurse .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

/* work section */
.container .work-list {
  display: flex;
  margin-left: -30px;
}
.work-list .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.container.work .title {
  margin-bottom: 50px;
}

/* teams section */

.container.teams .title {
  margin-bottom: 50px;
}
.container .teams-list {
  display: flex;
  margin-left: -30px;
}

.teams-list .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.card-content {
  text-align: center;
  padding: 30px 0;
}
.teams-list .card {
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
}
.subtitle.teams {
  margin-bottom: 10px;
}
/* footer section */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgc-color);
}

/* logo footer */
.footer .logo {
  color: var(--active-color);
}
.logo.name {
  color: var(--white-text-color);
}
.footer-logo {
  margin-bottom: 20px;
}

/* address section */
.address {
  margin-bottom: 9px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: var(--white-text-color);
}
.footer .link {
  color: var(--contacts-footer-color);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--active-color);
}
.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

/* portofolio section */
.portofolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* portofolio button */
.portofolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portofolio-section .btn {
  max-width: 145px;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--white-text-color);
}
.portofolio-section .btn:hover,
.portofolio-section .btn:focus {
  color: var(--white-text-color);
  background-color: var(--active-color);
}
.portofolio-section .title {
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portofolio-section .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-color);
}
/* portofolio content section */
.portofolio-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portofolio-content .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.portofolio-content .card-content {
  padding: 20px 24px;
  text-align: start;
}
.card-content {
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
}
